header{
    background-color: #FCDB00;
}

.slider{
    background-color: #FCDB00;
}
.features{min-height: 600px;}
.footer{background-color: #010101;
        min-height: 400px;}
.footer h1{margin-top: 50px;
          color: #FCDB00;}
.footer p{margin-top: 20px;
    color: #898989;}
input{
    height:40px;
    width:50%;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    color: #898989;
    border: 0;
    border-radius: 2px;
    
    margin-top: 45px;
}
button{
    height:18%;
    width:100px;
    background-color: #fcdb00;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
cursor: pointer;
}


.footer .three ul li a{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}
.footer .three ul li a:hover{
    color:#fcdb00;
}
.footer .three ul li{
    list-style: none;
}